@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray-brand: #707372;
  --gray-dark: #4C4D4C;
  --gray-50: #F8F8F8;
  --gray-60: #EBEBEB;
  --gray-80: #AEB7B9;

  --orange-brand: #E57200;
  --orange-80: #F7BD84;
  --orange-90: #EC933A;

  --purple-brand: #80276C;
  --purple-90: #A75897;

  --black: #121212;
  --white: #FFFFFF;
}

body {
  font-family: var(--font-raleway), system-ui, sans-serif;
}